.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
    /* Bordas personalizadas */
.first_container {
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: aqua;
    border: 10px solid yellow;
    border-bottom: 15px dashed blue;
}
    
.second_container {
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: aqua;
    border: 10px solid yellow;
    border-top: 15px dashed blue;
}